{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="about">
<div class="about-container">
    <div class="image-container">
        <img src="{% static 'blog/img/image.png' %}" alt="" srcset="">
    </div>
    <div class="text-container">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint,  odio officiis modi dolorem accusantium soluta dignissimos.</p>
        <a href="">Read more</a>
    </div>
</div>
</div>
{% endblock content %}