{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<section class="addpostcontainer">
        <form action="" method="post" enctype="multipart/form-data">
                <h1>Add Post</h1>
                {% csrf_token %}
                {% for fm in form %}
                <div class="input-div">
                {{fm.label_tag}} <br>
                {{fm}}<br>
                <small class="errors">{{fm.errors|striptags}}</small><br>
                </div>
                {% endfor %}
                <input type="submit" id="id" value="Add">
                <a href="{% url 'dashboard' %}" class="a-btn">cancel</a>
        </form>
</section>
{% endblock content %}