{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<section class="container">
    <div class="posts-container">
        {% for post in posts %}
        <div class="post">
            <img src="{{post.img.url}}" alt="" srcset="" class="image">
            <div class="date">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>{{post.created_date}}</span>
            </div>
            <h3 class="title">{{post.title}}</post></h3>
            <p class="text">{{post.desc}}</p>
        </div>
        {% endfor %}
    </div>
    
    <div class="sidebar">
        <div class="box">
            <h3 class="title">categories</h3>
            <div class="category">
                {% for category in categories %}
                <a href="/?category={{category.id}}"> {{category.name}} <span>{{ category.post_set.count }}</span></a>
                {% endfor %}
                <a href="/"> all <span>{{count}}</span></a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}