{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert warning">
    <span class="closebtn">&times;</span> 
    <p><strong><i class="fa fa-exclamation-triangle"></i></strong> {{message}}</p>
</div>
{% endfor %}
{% endif %}

<div class="section">
    <div class="form_container">
        <form action="" method="post" novalidate>
            <h3>enter new password</h3>
            {% csrf_token %}
                {% for fm in form %}
                    {{fm}}<br>
                    <small class="errors">{{fm.errors|striptags}}</small><br>
                {% endfor %}
                <input type="submit" class="btn" value="Submit" id="id">
                <p>don't have an account? <a href="{% url 'signup' %}">register now</a></p>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert warning">
                    <span class="closebtn">&times;</span> 
                    <p><strong><i class="fa fa-exclamation-triangle"></i></strong> {{error}}</p>
                </div>
                {% endfor %}
            {% endif %}
        </form> 
    </div>
</div>
{% endblock content %}