{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert success">
    <span class="closebtn">&times;</span> 
    <p><strong><i class="fa fa-check"></i></strong> {{message}}</p>
</div>
{% endfor %}
{% endif %}
<div class="section">
<div class="form_container">
    <form action="" method="post" novalidate>
        <h3>Register now</h3>
        {% csrf_token %}
            {% for fm in form %}
                {{fm}}<br>
                <small class="errors">{{fm.errors|striptags}}</small><br>
            {% endfor %}
            <input type="submit" class="btn" value="Login" id="id">
            <p>already have an account? <a href="{% url 'login' %}">login now</a></p>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert warning">
                <span class="closebtn">&times;</span> 
                <p><strong><i class="fa fa-exclamation-triangle"></i></strong> {{error}}</p>
            </div>
            {% endfor %}
        {% endif %}
    </form> 
</div>
</div>
{% endblock content %}