{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<section class="post-editor">
        <h1 class="heading">update post</h1>
        <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for fm in form %}
                <p>{{fm.label_tag}} <span>*</span></p>
                {{fm}}<br>
                <small class="errors">{{fm.errors|striptags}}</small><br>
                {% endfor %}
                <div class="flex-btn">
                        <input type="submit" id="id" value="Add" class="btn">
                        <a href="{% url 'dashboard' %}" class="delete-btn">cancel</a>
                </div>
        </form>  
</section>
{% endblock content %}